<html>
<head>
  <script src="https://unpkg.com/github-api@3.0.0/dist/GitHub.bundle.js"></script>
</head>
<body>

  <div id="app">

    <div>
      {{$store.state.ownerName}}/{{$store.state.repositoryName}}/{{$store.state.branchName}}
    </div>

    <ul>
      <li v-for="org in $store.state.organizations">
        <a @click="$store.dispatch('setOwnerOrganization', org.login)">{{org.login}}</a>
      </li>
    </ul>

    {{$store.state.ownerName}}
    <ul>
      <li v-for="repo in $store.state.repositories"
          @click="$store.dispatch('setRepository', {ownerName: $store.state.ownerName, repositoryName: repo.name})">
        {{ repo.name }}
        <ul v-if="repo.name === $store.state.repositoryName">
          <li v-for="branch in $store.state.branches">
            <a @click.stop="$store.dispatch('setBranch', {branchName: branch.name})">{{ branch.name }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuex"></script>
  <script src="https://cdn.jsdelivr.net/npm/shvl@1.3.1/dist/shvl.umd.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/deepmerge@2.1.0/dist/umd.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuex-persistedstate@2.5.2/dist/vuex-persistedstate.umd.js"></script>
  <script src="rawdeflate.js"></script>
  <!-- Application code -->
  <script>
    let store = new Vuex.Store({
      state: {
        owner: null,
        ownerName: null,
        repositoryName: null,
        branchName: null,
        // List of repos from last listRepositories
        repositories: [],
        repo: null,
        // Branches in current repo
        branches: [],
        // Organizations user is a member of
        organizations: [],
        // Concatenation of organizations and username
        // owners: [],
        // GitHub API object
        gh: null

      },
      mutations: {},
      actions: {
        authenticateToken (context, token) {
          context.state.gh = new GitHub({
            token: token
          });
          context.state.owner = context.state.gh.getUser();
        },
        setOwnerOrganization (context, ownerName) {
          context.state.ownerName = ownerName;
          context.state.owner = context.state.gh.getOrganization(ownerName);
          // Clear repositories
          context.state.repositoryName = null;
          context.dispatch('listRepositories');
          // Clear branches
          context.state.branchName = null;
          context.state.branches = [];
        },
        // listOwners (context) {
        //   let owners = JSON.parse(JSON.stringify(context.state.organizations));
        //   owners.push(context.state.ownerName);
        //   context.state.owners = owners;
        // },
        listOrganizations (context) {
          context.state.gh.getUser().listOrgs()
            .then(res => {
              let orgs = [];
              res.data.forEach(org => {
                // orgs.push(context.state.gh.getOrganization(org.login));
                orgs.push(org);
              });
              context.state.organizations = orgs;
            });
        },
        setRepository (context, {ownerName, repositoryName}) {
          console.log('Setting repo', ownerName, repositoryName);
          context.dispatch('clearBranches');
          context.state.branchName = 'master';
          context.state.ownerName = ownerName;
          context.state.repositoryName = repositoryName;
          context.state.repo = context.state.gh.getRepo(ownerName, repositoryName);
          context.dispatch('listBranches');
        },
        setBranch (context, {branchName}) {
          console.log('Setting branch', branchName);
          context.state.branchName = branchName;
        },
        listRepositories (context) {
          context.state.owner.listRepos()
            .then(res => {
              let repos = [];
              res.data.forEach(repo => {
                repos.push(repo);
              });
              context.state.repositories = repos;
            });
        },
        listBranches (context) {
          // List branches in currently selected repository
          context.state.repo.listBranches()
            .then(res => {
              let branches = [];
              res.data.forEach(branch => {
                branches.push(branch);
              });
              context.state.branches = branches;
            });
        },
        clearBranches (context) {
          context.state.branches = [];
        }
      }
    });

    var app = new Vue({
      el: '#app',
      store,
      data () { return {
        repos: [],
        gh: null,
        githubApi: null,
        username: null
      }},
      methods: {
        setRepoBranch (repoName, branchName) {
          this.githubApi.setRepoBranch(this.username, repoName, branchName);
        }
      },
      mounted () {
        this.$store.dispatch('authenticateToken', 'f20bf3b6a6cf5d9a8f55511de398a867641df575')
          .then(() => {
            this.$store.dispatch('listRepositories');
            this.$store.dispatch('listOrganizations');
            this.$store.dispatch('setRepository', {ownerName: 'alangibson', repositoryName: 'steppyr'})
              .then(() => {
                this.$store.dispatch('listBranches');
              });
          });
      }
    });

  </script>

</body>

</html>
